@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
    margin: 24px;
}

li:hover {
    color: #c8ff02;
}

/* #### NAVBAR #### */

header {
    width: 100%;
    height: 105px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.logo-nav {
    width: 260px;
    height: 140px;
    margin-left: 30px;
    cursor: pointer;
}

.nav-links {
    color: white;
    font-size: 20px;
    display: flex;
    cursor: pointer;
    font-weight: bold;
}

.btn-nav-bar {
    margin-right: 30px;
}

.btn-condu {
    width: 120px;
    height: 40px;
    font-size: 17px;
    border: none;
    border-radius: 23px;
    background-color: white;
    color: black;
    margin: 5px;
    cursor: pointer;
}

.btn-condu:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
}

.btn-anu {
    width: 120px;
    height: 40px;
    font-size: 17px;
    border: none;
    border-radius: 23px;
    background-color: white;
    color: black;
    margin: 5px;
    cursor: pointer;
}

.btn-anu:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
}

/* #### INICIO #### */

.inicio {
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-container-inicio {
    width: 800px;
    height: 400px;
}

.img-inicio {
    width: 100%;
    height: 100%;
}

.slogan-container-inicio {
    width: 600px;
}

.inicio-slogan {
    font-size: 60px;
}

/* #### CONTAINER-GRID #### */

.container-grid {
    display: flex;
    justify-content: center;
}

.info-grid {
    width: 1100px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-card {
    width: 300px;
    height: 350px;
    text-align: center;
    margin: 20px;
    padding: 12px;
    
}

.title-card {
    margin-top: 10px;
    margin-bottom: 20px;
}

.img-grid {
    margin-top:50px;
}

.fa-bullseye {
    font-size: 80px;
    margin-top: 50px;
}

.fa-eye  {
    font-size: 80px;
    margin-top: 50px;
}

.fa-lightbulb {
    font-size: 80px;
    margin-top: 50px; 
}

.fa-dollar-sign {
    font-size: 80px;
    margin-top: 50px; 
}

.fa-calendar-day {
    font-size: 80px;
    margin-top: 50px;
}

/* #### NOSOTROS #### */
.contaienr-info-nosotros {
    height: 500px;
    display: flex;
    justify-content: space-around;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.nosotros-intro {
    font-size: 45px;
    margin-right: 70px;
    color: black;
    margin-top: 70px;
}

.nosotros-p {
    width: 500px;
    font-size: 25px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-mas {
    width: 160px;
    font-size: 18px;
    border: none;
    background-color: #576774;
    border-radius: 25px;
    padding: 10px;
    color: white;
    cursor: pointer;
    margin-top: 50px;
}

/* #### CONDUCTORES #### */
.conductores {
    height: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

.conductores-hook {
    width: 800px;
    color: white;
}

.conductor-img-container {
    width: 650px;
    height: 400px;
    margin-left: 50px;
}

.conductor-img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.hook-title {
    font-size: 45px;
    margin-bottom: 25px;
}

.hook-p {
    width: 600px;
    font-size: 30px;
    margin-bottom: 50px;
}

.btn-conductor {
    width: 160px;
    font-size: 18px;
    border: none;
    background-color: #576774;
    border-radius: 25px;
    padding: 10px;
    color: white;
    cursor: pointer;
}

/* #### CONTACT #### */

.contact-sect {
    height: 850px;
}

.contact {
    height: 800px;
}

.contact-title {
    text-align: center;
    font-size: 45px;
    margin-top: 50px;
}

.contact-box {
    width: 500px;
    margin-top: 6rem;
    background-color: white;
    box-shadow: 0 0 20px 0 black;
    
}

.higlight-contact {
    display: inline;
    font-style: normal;
    background-image: linear-gradient(0deg,black 15%,transparent 0);
    padding-right: 20px;
    padding-left: 20px;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    margin: 35px;
}

.input-field {
    width: 400px;
    height: 40px;
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    border-radius: 14px;
    outline: none;
}

.textarea-field {
    height: 150px;
    padding-top: 10px;
}

.contactsub-btn {
    border-radius: 20px;
    color: black;
    margin-top: 18px;
    padding: 10px;
    background-color: white;
    border: 2px solid black;
    font-size: 20px;
    cursor: pointer;
}

.contactsub-btn:hover {
    background-color:  black;
    color: white;
}

/* #### FOOTER #### */

footer {
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-icons {
    color: white;
    font-size: 2rem;
    margin: 13px;
    cursor: pointer;
}

.copyright {
    color: white;
    font-size: 20px;
}

.manda-mail {
    width: 120px;
    height: 40px;
    font-size: 17px;
}

/* #### MEDIA QUERIES IPHONE #### */
@media screen and (max-width: 600px) {
    header {
        position: relative;
    }

    .logo-nav {
        width: 120px;
        height: 70px;
    }
    
    .nav-links {
        display: none;
    }

    .btn-anu {
        display: none;
    }

    .btn-condu {
        display: none;
    }

    .inicio {
        display: flex;
        flex-direction: column;
    }
    
    .slogan-container-inicio {
        width: 280px;
        margin-top: 80px;
        margin-bottom: 50px;
    }

    .inicio-slogan {
       font-size: 30px;
    }

    .img-container-inicio {
        width: 320px;
        height: 180px;
    }

    .info-grid {
        display: flex;
        flex-wrap: wrap;
        margin: none;
        height: 2000px;
    }

    .info-card {
        margin: 5px;
        height: 290px;
    }

    .card-1 {
        margin-top: 40px;
    }
    
    .conductores {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 680px;
    }

    .conductor-img-container {
        width: 335px;
        height: 230px;
        margin-right: 50px;
    }

    .hook-title {
        font-size: 30px;
        text-align: center;
    }

    .hook-p {
        font-size: 18px;
        width: 300px;
        text-align: center;
    }

    .btn-conductor {
        margin-left: 70px;
    }

    .conductores-hook {
        width: 300px;
    }

    .contaienr-info-nosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 700px;
    }

    .nosotros-intro {
        width: 300px;
        font-size: 35px;
        margin-bottom: 30px;
        margin-left: 30px;
    }

    .nosotros-p {
        width: 300px;
    }

    .btn-mas {
        margin-bottom: 70px;
    }

    .contact-box {
        width: 350px;
        height: 550px;
        border-radius: 25px;
        margin-top: 50px;
    }
 
    .input-field {
        width: 275px;
    }
 
    form {
        margin: 10px;
    }

    .social-icons {
        font-size: 15px;
    }

    .copyright {
        font-size: 15px;
    }

    .manda-mail {
        width: 60px;
        font-size: 10px;
        margin-left: 15px;
        margin-right: 10px;
    }
  }